<div id="customer-orders">
    <div class="box">
        <h1>My orders</h1>
        <p class="lead">Your orders on one place.</p>
        <p class="text-muted">If you have any questions, please feel free to <a routerLink="/page/contact">contact us</a>, our customer service center is working for you 24/7.</p>
        <hr>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th># 1735</th>
                        <td>22/06/2013</td>
                        <td>$ 150.00</td>
                        <td><span class="badge badge-info">Being prepared</span></td>
                        <td><a routerLink="1" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                    <tr>
                        <th># 1735</th>
                        <td>22/06/2013</td>
                        <td>$ 150.00</td>
                        <td><span class="badge badge-info">Being prepared</span></td>
                        <td><a routerLink="/customer/orders/1" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                    <tr>
                        <th># 1735</th>
                        <td>22/06/2013</td>
                        <td>$ 150.00</td>
                        <td><span class="badge badge-success">Received</span></td>
                        <td><a routerLink="/customer/orders/1" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                    <tr>
                        <th># 1735</th>
                        <td>22/06/2013</td>
                        <td>$ 150.00</td>
                        <td><span class="badge badge-danger">Cancelled</span></td>
                        <td><a routerLink="/customer/orders/1" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                    <tr>
                        <th># 1735</th>
                        <td>22/06/2013</td>
                        <td>$ 150.00</td>
                        <td><span class="badge badge-warning">On hold</span></td>
                        <td><a routerLink="/customer/orders/1" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>