<app-products-category-description></app-products-category-description>
<div class="row">
    <app-product-list-header class="col-lg-12"></app-product-list-header>
    <div class="col-lg-12">
        <div class="row products">
            <app-product-item class="col-lg-4 col-md-6"></app-product-item>
            <app-product-item class="col-lg-4 col-md-6"></app-product-item>
            <app-product-item class="col-lg-4 col-md-6"></app-product-item>
            <app-product-item class="col-lg-4 col-md-6"></app-product-item>
            <app-product-item class="col-lg-4 col-md-6"></app-product-item>
            <app-product-item class="col-lg-4 col-md-6"></app-product-item>
        </div>
    </div>
    <app-product-list-pagination class="col-lg-12"></app-product-list-pagination>
</div>