<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a routerLink="/" class="navbar-brand home"><img src="img/logo.png" alt="Obaju logo" class="d-none d-md-inline-block"><img src="img/logo-small.png" alt="Obaju logo" class="d-inline-block d-md-none"><span class="sr-only">Obaju - go to homepage</span></a>
        <div class="navbar-buttons">
            <button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
            <button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></button>
            <a routerLink="/order/shopping-cart" class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
        </div>
        <div id="navigation" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a routerLink="/" class="nav-link active">Home</a></li>
                <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Men<b class="caret"></b></a>
                    <ul class="dropdown-menu megamenu">
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <h5>Clothing</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">T-shirts</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Shirts</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Pants</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <h5>Shoes</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Trainers</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Sandals</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Hiking shoes</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Casual</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <h5>Accessories</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Trainers</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Sandals</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Hiking shoes</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Casual</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Hiking shoes</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Casual</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <h5>Featured</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Trainers</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Sandals</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Hiking shoes</a></li>
                                    </ul>
                                    <h5>Looks and trends</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Trainers</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Sandals</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Hiking shoes</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Ladies<b class="caret"></b></a>
                    <ul class="dropdown-menu megamenu">
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <h5>Clothing</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">T-shirts</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Shirts</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Pants</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <h5>Shoes</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Trainers</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Sandals</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Hiking shoes</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Casual</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <h5>Accessories</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Trainers</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Sandals</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Hiking shoes</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Casual</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Hiking shoes</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Casual</a></li>
                                    </ul>
                                    <h5>Looks and trends</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Trainers</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Sandals</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Hiking shoes</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="banner">
                                        <a routerLink="/"><img src="img/banner.jpg" alt="" class="img img-fluid"></a>
                                    </div>
                                    <div class="banner">
                                        <a routerLink="/"><img src="img/banner2.jpg" alt="" class="img img-fluid"></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Template<b class="caret"></b></a>
                    <ul class="dropdown-menu megamenu">
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <h5>Shop</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="nav-item"><a routerLink="/" class="nav-link">Homepage</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Category - sidebar left</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Category - sidebar right</a></li>
                                        <li class="nav-item"><a routerLink="/products" class="nav-link">Category - full width</a></li>
                                        <li class="nav-item"><a routerLink="/products/1" class="nav-link">Product detail</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <h5>User</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="nav-item"><a href="http://localhost:5000/Account/Register" class="nav-link">Register / login</a></li>
                                        <li class="nav-item"><a routerLink="/customer/orders" class="nav-link">Orders history</a></li>
                                        <li class="nav-item"><a routerLink="/customer/orders/1" class="nav-link">Order history detail</a></li>
                                        <li class="nav-item"><a routerLink="/customer/wish-list" class="nav-link">Wishlist</a></li>
                                        <li class="nav-item"><a routerLink="/customer/account" class="nav-link">Customer account / change password</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <h5>Order process</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="nav-item"><a routerLink="/order/shopping-cart" class="nav-link">Shopping cart</a></li>
                                        <li class="nav-item"><a routerLink="/order/checkout/address" class="nav-link">Checkout - step 1</a></li>
                                        <li class="nav-item"><a routerLink="/order/checkout/delivery-method" class="nav-link">Checkout - step 2</a></li>
                                        <li class="nav-item"><a routerLink="/order/checkout/payment-method" class="nav-link">Checkout - step 3</a></li>
                                        <li class="nav-item"><a routerLink="/order/checkout/order-review" class="nav-link">Checkout - step 4</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <h5>Pages and blog</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="nav-item"><a routerLink="/blog/posts" class="nav-link">Blog listing</a></li>
                                        <li class="nav-item"><a routerLink="/blog/posts/1" class="nav-link">Blog Post</a></li>
                                        <li class="nav-item"><a routerLink="/page/faq" class="nav-link">FAQ</a></li>
                                        <li class="nav-item"><a routerLink="/page/not-found" class="nav-link">404 page</a></li>
                                        <li class="nav-item"><a routerLink="/page/contact" class="nav-link">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-buttons d-flex justify-content-end">
                <!-- /.nav-collapse-->
                <div id="search-not-mobile" class="navbar-collapse collapse"></div>
                <a data-toggle="collapse" class="btn navbar-btn btn-primary d-none d-lg-inline-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </a>
                <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a routerLink="/order/shopping-cart" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>3 items in cart</span></a></div>
            </div>
        </div>
    </div>
</nav>
<div id="search" [collapse]="isCollapsed" [isAnimated]="true">
    <div class="container">
        <form role="search" class="ml-auto">
            <div class="input-group">
                <input type="text" placeholder="Search" class="form-control">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>