<div id="hot">
    <div class="box py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-0">Hot this week</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <owl-carousel-o [options]="customOptions" class="product-slider">
            <ng-template carouselSlide>
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a routerLink="/products/1"><img src="img/product1.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <div class="back">
                                    <a routerLink="/products/1"><img src="img/product1_2.jpg" alt="" class="img-fluid"></a>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/products/1" class="invisible"><img src="img/product1.jpg" alt="" class="img-fluid"></a>
                        <div class="text">
                            <h3><a routerLink="/products/1">Fur coat with very but very very long name</a></h3>
                            <p class="price">
                                <del></del>$143.00
                            </p>
                        </div>
                        <!-- /.text-->
                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="ribbon gift">
                            <div class="theribbon">GIFT</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                    </div>
                    <!-- /.product-->
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a routerLink="/products/1"><img src="img/product2.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <div class="back">
                                    <a routerLink="/products/1"><img src="img/product2_2.jpg" alt="" class="img-fluid"></a>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/products/1" class="invisible"><img src="img/product2.jpg" alt="" class="img-fluid"></a>
                        <div class="text">
                            <h3><a routerLink="/products/1">White Blouse Armani</a></h3>
                            <p class="price">
                                <del>$280</del>$143.00
                            </p>
                        </div>
                        <!-- /.text-->
                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="ribbon gift">
                            <div class="theribbon">GIFT</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                    </div>
                    <!-- /.product-->
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a routerLink="/products/1"><img src="img/product3.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <div class="back">
                                    <a routerLink="/products/1"><img src="img/product3_2.jpg" alt="" class="img-fluid"></a>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/products/1" class="invisible"><img src="img/product3.jpg" alt="" class="img-fluid"></a>
                        <div class="text">
                            <h3><a routerLink="/products/1">Black Blouse Versace</a></h3>
                            <p class="price">
                                <del></del>$143.00
                            </p>
                        </div>
                        <!-- /.text-->
                    </div>
                    <!-- /.product-->
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a routerLink="/products/1"><img src="img/product3.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <div class="back">
                                    <a routerLink="/products/1"><img src="img/product3_2.jpg" alt="" class="img-fluid"></a>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/products/1" class="invisible"><img src="img/product3.jpg" alt="" class="img-fluid"></a>
                        <div class="text">
                            <h3><a routerLink="/products/1">Black Blouse Versace</a></h3>
                            <p class="price">
                                <del></del>$143.00
                            </p>
                        </div>
                        <!-- /.text-->
                    </div>
                    <!-- /.product-->
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a routerLink="/products/1"><img src="img/product2.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <div class="back">
                                    <a routerLink="/products/1"><img src="img/product2_2.jpg" alt="" class="img-fluid"></a>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/products/1" class="invisible"><img src="img/product2.jpg" alt="" class="img-fluid"></a>
                        <div class="text">
                            <h3><a routerLink="/products/1">White Blouse Versace</a></h3>
                            <p class="price">
                                <del></del>$143.00
                            </p>
                        </div>
                        <!-- /.text-->
                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                    </div>
                    <!-- /.product-->
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a routerLink="/products/1"><img src="img/product1.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <div class="back">
                                    <a routerLink="/products/1"><img src="img/product1_2.jpg" alt="" class="img-fluid"></a>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/products/1" class="invisible"><img src="img/product1.jpg" alt="" class="img-fluid"></a>
                        <div class="text">
                            <h3><a routerLink="/products/1">Fur coat</a></h3>
                            <p class="price">
                                <del></del>$143.00
                            </p>
                        </div>
                        <!-- /.text-->
                        <div class="ribbon gift">
                            <div class="theribbon">GIFT</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                    </div>
                    <!-- /.product-->
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a routerLink="/products/1"><img src="img/product2.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <div class="back">
                                    <a routerLink="/products/1"><img src="img/product2_2.jpg" alt="" class="img-fluid"></a>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/products/1" class="invisible"><img src="img/product2.jpg" alt="" class="img-fluid"></a>
                        <div class="text">
                            <h3><a routerLink="/products/1">White Blouse Armani</a></h3>
                            <p class="price">
                                <del>$280</del>$143.00
                            </p>
                        </div>
                        <!-- /.text-->
                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="ribbon gift">
                            <div class="theribbon">GIFT</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                    </div>
                    <!-- /.product-->
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a routerLink="/products/1"><img src="img/product3.jpg" alt="" class="img-fluid"></a>
                                </div>
                                <div class="back">
                                    <a routerLink="/products/1"><img src="img/product3_2.jpg" alt="" class="img-fluid"></a>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/products/1" class="invisible"><img src="img/product3.jpg" alt="" class="img-fluid"></a>
                        <div class="text">
                            <h3><a routerLink="/products/1">Black Blouse Versace</a></h3>
                            <p class="price">
                                <del></del>$143.00
                            </p>
                        </div>
                        <!-- /.text-->
                    </div>
                    <!-- /.product-->
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>