<div id="customer-order">
    <div class="box">
        <h1>Order #1735</h1>
        <p class="lead">Order #1735 was placed on <strong>22/06/2013</strong> and is currently <strong>Being prepared</strong>.</p>
        <p class="text-muted">If you have any questions, please feel free to <a routerLink="/page/contact">contact us</a>, our customer service center is working for you 24/7.</p>
        <hr>
        <div class="table-responsive mb-4">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Product</th>
                        <th>Quantity</th>
                        <th>Unit price</th>
                        <th>Discount</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a routerLink="/products/1"><img src="img/detailsquare.jpg" alt="White Blouse Armani"></a>
                        </td>
                        <td><a routerLink="/products/1">White Blouse Armani</a></td>
                        <td>2</td>
                        <td>$123.00</td>
                        <td>$0.00</td>
                        <td>$246.00</td>
                    </tr>
                    <tr>
                        <td>
                            <a routerLink="/products/1"><img src="img/basketsquare.jpg" alt="Black Blouse Armani"></a>
                        </td>
                        <td><a routerLink="/products/1">Black Blouse Armani</a></td>
                        <td>1</td>
                        <td>$200.00</td>
                        <td>$0.00</td>
                        <td>$200.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" class="text-right">Order subtotal</th>
                        <th>$446.00</th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Shipping and handling</th>
                        <th>$10.00</th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Tax</th>
                        <th>$0.00</th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Total</th>
                        <th>$456.00</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.table-responsive-->
        <div class="row addresses">
            <div class="col-lg-6">
                <h2>Invoice address</h2>
                <p>John Brown<br>13/25 New Avenue<br>New Heaven<br>45Y 73J<br>England<br>Great Britain</p>
            </div>
            <div class="col-lg-6">
                <h2>Shipping address</h2>
                <p>John Brown<br>13/25 New Avenue<br>New Heaven<br>45Y 73J<br>England<br>Great Britain</p>
            </div>
        </div>
    </div>
</div>