<div class="product same-height">
    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <a routerLink="/products/1"><img src="img/product2.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="back">
                <a routerLink="/products/1"><img src="img/product2_2.jpg" alt="" class="img-fluid"></a>
            </div>
        </div>
    </div>
    <a routerLink="/products/1" class="invisible"><img src="img/product2.jpg" alt="" class="img-fluid"></a>
    <div class="text">
        <h3>Fur coat</h3>
        <p class="price">$143</p>
    </div>
</div>