<div class="pages">
  <p class="loadMore">
    <a href="#" class="btn btn-primary btn-lg"
      ><i class="fa fa-chevron-down"></i> Load more</a
    >
  </p>
  <nav
    aria-label="Page navigation example"
    class="d-flex justify-content-center"
  >
    <ul class="pagination">
      <li class="page-item">
        <a href="#" aria-label="Previous" class="page-link"
          ><span aria-hidden="true">«</span
          ><span class="sr-only">Previous</span></a
        >
      </li>
      <li class="page-item active"><a href="#" class="page-link">1</a></li>
      <li class="page-item"><a href="#" class="page-link">2</a></li>
      <li class="page-item"><a href="#" class="page-link">3</a></li>
      <li class="page-item"><a href="#" class="page-link">4</a></li>
      <li class="page-item"><a href="#" class="page-link">5</a></li>
      <li class="page-item">
        <a href="#" aria-label="Next" class="page-link"
          ><span aria-hidden="true">»</span><span class="sr-only">Next</span></a
        >
      </li>
    </ul>
  </nav>
</div>
