<div class="card sidebar-menu mb-4">
    <div class="card-header">
      <h3 class="h4 card-title">Brands <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Armani  (10)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Versace  (12)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Carlo Bruni  (15)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Jack Honey  (14)
            </label>
          </div>
        </div>
        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
      </form>
    </div>
  </div>