<div class="row">
    <div class="col-lg-12">
        <div id="contact" class="box">
            <h1>Contact</h1>
            <p class="lead">Are you curious about something? Do you have some kind of problem with our products?</p>
            <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <h3><i class="fa fa-map-marker"></i>Address</h3>
                    <p>13/25 New Avenue<br>New Heaven<br>45Y 73J<br>England<br><strong>Great Britain</strong></p>
                </div>
                <!-- /.col-sm-4-->
                <div class="col-md-4">
                    <h3><i class="fa fa-phone"></i> Call center</h3>
                    <p class="text-muted">This number is toll free if calling from Great Britain otherwise we advise you to use the electronic form of communication.</p>
                    <p><strong>+33 555 444 333</strong></p>
                </div>
                <!-- /.col-sm-4-->
                <div class="col-md-4">
                    <h3><i class="fa fa-envelope"></i> Electronic support</h3>
                    <p class="text-muted">Please feel free to write an email to us or to use our electronic ticketing system.</p>
                    <ul>
                        <li><strong><a href="mailto:">info@fakeemail.com</a></strong></li>
                        <li><strong><a href="#">Ticketio</a></strong> - our ticketing support platform</li>
                    </ul>
                </div>
                <!-- /.col-sm-4-->
            </div>
            <!-- /.row-->
            <hr>
            <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d809.9713039016818!2d51.396954266966326!3d35.7044421598958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e011a4a5ea953%3A0xce0e1232a557bc6f!2sCooperative%20School%20of%20Medical%20Sciences!5e0!3m2!1sen!2s!4v1580640273382!5m2!1sen!2s"
                    width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <hr>
            <h2>Contact form</h2>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstname">Firstname</label>
                            <input id="firstname" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastname">Lastname</label>
                            <input id="lastname" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input id="subject" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="message" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send message</button>
                    </div>
                </div>
                <!-- /.row-->
            </form>
        </div>
    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"></script>
    <!-- <script src="vendor/owl.carousel/owl.carousel.min.js"></script> -->
    <!-- <script src="vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js"></script> -->
    <!-- <script src="js/front.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.js"></script>
    <script src="js/map.js"></script>
</div>