<div class="post">
    <h2><a routerLink="/blog/posts/1">Fashion now</a></h2>
    <p class="author-category">By <a routerLink="/blog/posts/1">John Slim</a> in <a routerLink="/blog/posts/1">Fashion and style</a></p>
    <hr>
    <p class="date-comments"><a routerLink="/blog/posts/1"><i class="fa fa-calendar-o"></i> June 20, 2013</a><a routerLink="/blog/posts/1"><i class="fa fa-comment-o"></i> 8 Comments</a></p>
    <div class="image">
        <a routerLink="/blog/posts/1"><img src="img/blog2.jpg" alt="Example blog post alt" class="img-fluid"></a>
    </div>
    <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo.</p>
    <p class="read-more"><a routerLink="/blog/posts/1" class="btn btn-primary">Continue reading</a></p>
</div>