<div class="box">
    <form method="get" action="checkout4.html">
        <h1>Checkout - Order review</h1>
        <div class="nav flex-column flex-sm-row nav-pills">
            <a routerLink="/order/checkout/address" class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-map-marker">                  </i>Address</a>
            <a routerLink="/order/checkout/delivery-method" class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-truck">                       </i>Delivery Method</a>
            <a routerLink="/order/checkout/payment-method" class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-money">                      </i>Payment Method</a>
            <a href="#" class="nav-link flex-sm-fill text-sm-center active"> <i class="fa fa-eye">                     </i>Order Review</a>
        </div>
        <div class="content">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th>Quantity</th>
                            <th>Unit price</th>
                            <th>Discount</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a routerLink="/products/1"><img src="img/detailsquare.jpg" alt="White Blouse Armani"></a>
                            </td>
                            <td><a routerLink="/products/1">White Blouse Armani</a></td>
                            <td>2</td>
                            <td>$123.00</td>
                            <td>$0.00</td>
                            <td>$246.00</td>
                        </tr>
                        <tr>
                            <td>
                                <a routerLink="/products/1"><img src="img/basketsquare.jpg" alt="Black Blouse Armani"></a>
                            </td>
                            <td><a routerLink="/products/1">Black Blouse Armani</a></td>
                            <td>1</td>
                            <td>$200.00</td>
                            <td>$0.00</td>
                            <td>$200.00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5">Total</th>
                            <th>$446.00</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.table-responsive-->
        </div>
        <!-- /.content-->
        <div class="box-footer d-flex justify-content-between"><a routerLink="../payment-method" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to payment method</a>
            <a routerLink="../order-review" class="btn btn-primary">Place an order<i class="fa fa-chevron-right"></i></a>
        </div>
    </form>
</div>