<div class="row">
    <div class="col-lg-3">
        <div class="card sidebar-menu">
            <div class="card-header">
                <h3 class="h4 card-title">Customer section</h3>
            </div>
            <div class="card-body">
                <ul class="nav nav-pills flex-column">
                    <a routerLink="orders" class="nav-link active"><i class="fa fa-list"></i> My orders</a>
                    <a routerLink="wish-list" class="nav-link"><i class="fa fa-heart"></i> My wishlist</a>
                    <a routerLink="account" class="nav-link"><i class="fa fa-user"></i> My account</a>
                    <a (click)="logout()" class="nav-link"><i class="fa fa-sign-out"></i> Logout</a></ul>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <router-outlet></router-outlet>
    </div>
</div>