<div id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offer mb-3 mb-lg-0"><a routerLink="/" class="btn btn-success btn-sm">Offer of the day</a><a href="#" class="ml-1">Get flat 35% off on orders over $50!</a></div>
            <div class="col-lg-6 text-center text-lg-right">
                <ul class="menu list-inline mb-0">
                    <li class="list-inline-item"><a (click)="login()">Login</a></li>
                    <li class="list-inline-item"><a href="http://localhost:5000/Account/Register">Register</a></li>
                    <li class="list-inline-item"><a routerLink="/contact">Contact</a></li>
                    <li class="list-inline-item"><a routerLink="/contact/wish-list">Recently viewed</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- *** TOP BAR END ***-->
</div>