<div id="wishlist">
    <div class="box">
        <h1>My wishlist</h1>
        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

        <div class="row products">
            <app-product-item class="col-lg-3 col-md-4"></app-product-item>
            <app-product-item class="col-lg-3 col-md-4"></app-product-item>
            <app-product-item class="col-lg-3 col-md-4"></app-product-item>
            <app-product-item class="col-lg-3 col-md-4"></app-product-item>
            <app-product-item class="col-lg-3 col-md-4"></app-product-item>
            <app-product-item class="col-lg-3 col-md-4"></app-product-item>
            <app-product-item class="col-lg-3 col-md-4"></app-product-item>
            <app-product-item class="col-lg-3 col-md-4"></app-product-item>
        </div>
    </div>
</div>