<div class="container">
    <div class="col-md-12">
        <div class="box slideshow">
            <h3>Get Inspired</h3>
            <p class="lead">Get the inspiration from our world class designers</p>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <a href="#"><img src="img/getinspired1.jpg" alt="Get inspired" class="img-fluid"></a>
                </ng-template>
                <ng-template carouselSlide>
                    <a href="#"><img src="img/getinspired2.jpg" alt="Get inspired" class="img-fluid"></a>
                </ng-template>
                <ng-template carouselSlide>
                    <a href="#"><img src="img/getinspired3.jpg" alt="Get inspired" class="img-fluid"></a>
                </ng-template>
            </owl-carousel-o>

        </div>
    </div>
</div>