<div id="error-page" class="row">
    <div class="col-md-6 mx-auto">
        <div class="box text-center py-5">
            <p class="text-center"><img src="img/logo.png" alt="Obaju template"></p>
            <h3>We are sorry - you don't have permission to access this page</h3>
            <h4 class="text-muted">Error 403 - Forbidden</h4>
            <p class="text-center">To continue please use the <strong>Search form</strong> or <strong>Menu</strong> above.</p>
            <p class="buttons"><a routerLink="/" class="btn btn-primary"><i class="fa fa-home"></i> Go to Homepage</a></p>
        </div>
    </div>
</div>