<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <carousel>
                <slide>
                    <div class="item"><img src="img/main-slider1.jpg" alt="" class="img-fluid"></div>
                </slide>
                <slide>
                    <div class="item"><img src="img/main-slider2.jpg" alt="" class="img-fluid"></div>
                </slide>
                <slide>
                    <div class="item"><img src="img/main-slider3.jpg" alt="" class="img-fluid"></div>
                </slide>
                <slide>
                    <div class="item"><img src="img/main-slider4.jpg" alt="" class="img-fluid"></div>
                </slide>
            </carousel> -->

            <div id="main-slider">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide><img src="img/main-slider1.jpg" alt="" class="img-fluid"></ng-template>
                    <ng-template carouselSlide><img src="img/main-slider2.jpg" alt="" class="img-fluid"></ng-template>
                    <ng-template carouselSlide><img src="img/main-slider3.jpg" alt="" class="img-fluid"></ng-template>
                    <ng-template carouselSlide><img src="img/main-slider4.jpg" alt="" class="img-fluid"></ng-template>
                </owl-carousel-o>
            </div>

        </div>
    </div>
</div>