<div class="card sidebar-menu mb-4">
    <div class="card-header">
      <h3 class="h4 card-title">Colours <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox"><span class="colour white"></span> White (14)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"><span class="colour blue"></span> Blue (10)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"><span class="colour green"></span>  Green (20)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"><span class="colour yellow"></span>  Yellow (13)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"><span class="colour red"></span>  Red (10)
            </label>
          </div>
        </div>
        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
      </form>
    </div>
  </div>