<div id="comment-form">
    <h4>Leave comment</h4>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name <span class="required">*</span></label>
                    <input id="name" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email <span class="required">*</span></label>
                    <input id="email" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="comment">Comment <span class="required">*</span></label>
                    <textarea id="comment" rows="4" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary"><i class="fa fa-comment-o"></i> Post comment</button>
            </div>
        </div>
    </form>
</div>